

/* event lists */
.body__event__list {
    display: flex;
    align-items: stretch;
    justify-content: left;
    flex-wrap: wrap;
    gap: 1rem;
}

.body__event__item {
    background-color: var(--lightGreen-1);
    text-align: center;
    border-radius: 12px;
    width: 250px;
    margin-left: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.body__event__item__icon {
    padding: 10px 10px;
    border-radius: 50px;
}

.body__event__item__title {
    font-size:  1.8rem;
    font-family: var(--font);
    font-weight: 500;
    margin-bottom:  0.5rem;
    line-height: 1.1em;
    color: var(--black-1);
}

.body__event__item__id {
    display: none;
}


/* event popup infor */
.body__event__popup {
    position: fixed;
    border-radius: 12px;
    top: 20%;
    left: 30%;
    width: 800px;
    background-color: var(--lightGreen-1);
    padding: 25px;
    display: none;
}

.body__event__popup__container {
    display: flex;
    justify-content: space-between;
}

.body__event__popup__left {
    width: 400px;
    margin-right: 20px;
}

.body__event__popup h2{
    text-align: center;
    font-family: var(--font);
    margin-bottom: 25px;
    font-weight: 500;
}

.event__popup__name,
.event__popup__description,
.event__popup__start,
.event__popup__end,
.event__popup__sale {
    font-family: var(--font);
    font-size: 400;
    color: var(--black-1);
    margin-left: 20px;
}


.event__popup__infor {
    display: flex;
    width: 300px;
    height: auto;
    min-height: 40px;
    align-items: center;
    padding-left: 10px;
    background-color: var(--white-2);
    color: var(--black-1);
    margin-bottom: 40px;
    margin-top: 5px;
    border-radius: 10px;
    overflow-y: auto;
}

.event__popup__description p {
    height: 100px;
}
.event__popup__btn {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}


.body__event__popup__right {
    width: 400px;
    max-height: 400px;
    margin-left: 20px;
    text-align: center;
    overflow: auto;
    padding-right: 10px;
}

.event__popup__right__item {
    height: 70px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--white-2);
    justify-content: space-between;
    align-items: center;
    font-family: var(--font);
    font-size: 1.8rem;
    display: flex;
}

.event__popup__right__item__discount {
    padding-right: 35px;
}

.event__popup__right__item__img {
    width: 85px;
    padding-left: 10px;
}

.event__popup__item__close {
    width: 30px;
    padding-right: 10px;
}


/* new event */
.body__newEvent {
    text-align: center;
    position: fixed;
    border-radius: 12px;
    top: 20%;
    left: 25%;
    width: 1000px;
    background-color: var(--lightGreen-1);
    padding: 25px;
    display: none;
}

.body__newEvent__container {
    display: flex;
    justify-content: space-between;
}

.body__newEvent__left {
    width: 400px;
    margin-top: 20px;
    text-align: left;
}

.body__newEvent ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}

.newEvent__description input {
    min-height: 80px;
}

.body__newEvent ul li span{
    padding: 10px 5px;
    height: 30px;
    font-family: var(--font);
    font-weight: 400;
    text-align: center;
    margin: 5px 0;
}

.newEvent__input-text {
    width: 270px;
    border-radius: 5px;
    border: none;
    height: auto;
    min-height: 30px;
    font-size: 1.8rem;
    padding: 15px 10px;
    display: flex;
    height: 30px;
    margin: 10px 0;
}

.newEvent__poster-upload {
    font-family: var(--font);
    font-weight: 400;
    padding: 0 5px;
    margin-bottom: 30px;
}


.newEvent__poster-upload-label {
    font-family: var(--font);
    font-size: 1.5rem;
    border-radius: 8px;
    height: 30px;
    width: 70px;
    padding-left: 8px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.body__newEvent__right {
    width: 500px;
    margin-top: 20px;
    padding-left: 20px;
}

.body__newEvent__right__list {
    min-width:400px;
    max-height: 400px;
    margin-left: 40px;
    text-align: center;
    overflow: auto;
    justify-content: space-between;
    padding-right: 10px;
}

.body__newEvent__right__item {
    height: 70px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--white-2);
    justify-content: space-between;
    align-items: center;
    font-family: var(--font);
    font-size: 1.8rem;
    display: flex;
}

.body__newEvent__right__item__img {
    width: 85px;
    padding-left: 10px;
}

.body__newEvent__right__item__name {
    width: 200px;
}

.body__newEvent__right__item__input {
    max-width: 50px;
}

.body__newEvent__right__item__select {
    width: 50px;
    padding-right: 10px;
}

.newEvent__popup__btn {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    border: none;
    margin-top: 60px;
}

.body__newEvent__btn__icon {
    align-content: center;
    margin-top: 70px;
    width: 70px;
}

.body__newEvent__btn {
    background-color: var(--lightGreen-1);
    text-align: center;
    border-radius: 12px;
    width: 250px;
    margin-left: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}
/* event new event*/