.nav {
    padding: 2rem 0;
}



.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.nav__role {
    margin-left: 45px;
    align-items: center;
}

.nav__role__img {    
    width: 150px;
    margin-top: 1rem;
}

.nav__role__text {
    font-family: var(--font);
    font-size: 1.8rem;
    text-align: left;
}

.nav__search__bar {
    height: 40px;
    width: 500px;
    border-radius: 20px;
    padding-left: 15px;
    margin-top: 3rem;
    background-color: var(--white-1);
    outline: none;
    font-size: 1.8rem;
    border: none;
    padding-right: 45px;
}

.nav__search__icon {
    width: 40px;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

/* body */
.body__wrapper {
    padding-top: 80px;
    font-size: 1.8rem;
    display: flex;
}

.body__menu li{
    margin: 5px;
    padding: 5px;
    margin-top: 20px;
}
/* end body */