@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --header-background-color: #d6e5d8;
    --menu-background-color: #f5fcf4;
    --btn-background-color: rgba(255, 118, 41, 0.1);
    /* --btn-background-color: #00ff00; */
    --btn-color: rgb(127 255 212);
    --btn-background-color: rgb(255 165 0);
    --menu-width: 240px;
    --table-header-color: var(--green-1);
    --table-content-color: var(--lightGreen-1);
    --table-content-color-hover: rgb(24, 248, 106);
    --header-height: 118px;
    --thead-height: 46px;
    font-size: var(--font);
}
body::-webkit-scrollbar {
    display: none;
}

.active{
    display: flex !important;
}
.hidden{
    display: none !important;
}
/* 
.container{
    
} */


/* main */

.main{
    display: flex;
}

/* .nav__wrapper{
    align-items: center;
} */

.nav{
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
}
.nav_search_icon{
    color: var(--green-1);
    font-size: 38px !important;
    position: relative;
    top: 18px;
    left: -150px;
    padding-top: 2px;
    cursor: pointer;
}

.nav_search_icon:hover{
    color: #04bf04;
}

.nav__search__bar{
    background-color: #fff!important;
}

.nav__search__icon{
    display: none;
}

.nav__logout a{
    padding: 8px 20px;
}

.nav__logout:hover{
    opacity: 0.8;
}

/* menu */

.menu{
    width: var(--menu-width);
    min-width: 80px;
    height: 100vh;
    position: fixed;
    left: 12px;
    background-color: var(--menu-background-color);
    top: var(--header-height);
}

.btn-list{
    --space: 28px;
    padding-top: var(--space);
    margin-left: 16px;
    list-style: none;
}


.btn:hover a, .btn:hover span{
    opacity: 0.8;
}
.btn a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--white-1);
    padding: 13px 20px;
    background-color: var(--green-1);
    border-radius: 8px;
}

.btn a span{
    color: var(--white-1);
    margin-right: 8px;
    margin-left: 4px;
    font-size: 24px;
}

/* content */

.content{
    position: absolute;
    top: var(--header-height);
    z-index: 4;
    right: 0;
    width: calc(100% - var(--menu-width) - 32px);
}

.customer-list{
    max-height: calc(100vh - var(--header-height) -46px);
    z-index: 1;
}
.table{
    width: 100%;
    border-spacing: 0;
    
}

.table tr{
    margin: 0;
    display: flex;
}

.table th, .table td{
    flex: 2;
}

.table th:nth-child(1), .table td:nth-child(1) {
    flex: 1.2;
}

.table th:nth-child(3), .table td:nth-child(3) {
    flex: 3;
}

.table thead{
    position: fixed;
    z-index: 2;
    top: calc(var(--header-height) - 2px);
    left: calc(var(--menu-width) + 32px); 
    right: 0;
}

.table tbody{
    position: fixed;
    top: calc(var(--thead-height) + var(--header-height));
    left: calc(var(--menu-width) + 32px);
    right: 0;
    max-height: 575px;
    overflow-y: scroll;
}
.table thead tr{
    background-color: var(--table-header-color);
    color: var(--white-1)
}
.table thead th{
    font-size: 18px;
    font-family: var(--font);
    height: var(--thead-height);
    line-height: var(--thead-height);
    font-weight: 500;
    cursor: text;
}
.table thead th + th{
    border-left: 1px solid #fff;
}

.table tbody td{
    --height: 70px;
    font-size: 16px;
    height: var(--height);
    line-height: var(--height);
   
    border-bottom: 4px solid #fff;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.table tr {
    background-color: var(--table-content-color);
}
.table tbody tr:hover{
    cursor: pointer;
    background-color: var(--table-content-color-hover);
}

/* creat btn */

.create-btn{
    position: fixed;
    z-index: 2;
    /* right: 64px; */
    width: 120px;
    height: 50px;
    bottom: 60px;
    left: 68px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.create-btn:hover{
    opacity: 0.8;
}

/* bill */

.bill{
    position: fixed;
    z-index: 20;
    top: 140px;
    right: 250px;
    color: var(--black-2);
    width: 800px;
    height: 500px;
    border-radius: 30px;
    display: none;
    background-color: var(--lightGreen-1);
    box-shadow: 0px 0px 4px rgb(99, 79, 79);
}


.infor{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.infor h2{
    padding: 10px;
    margin-left: 100px;
    margin-bottom: 8px;
    font-size: 28px;
    font-weight: 400;
}

.bill-infor{
    margin-left: 24px;
    /* padding: 4px; */
    line-height: 1.3;
}

.bill-infor h3{
    display: inline;
    font-size: 24px;
    font-weight: 450;
}

.bill-infor span {
    display: inline;
    font-size: 20px;
    margin-left: 4px;
}
.bill-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.input-eventID{
    margin-left: 24px;
    margin-top: 4px;
    display: flex;
    align-items: center;
}
.input-eventID label{
    font-size: 24px;
    font-weight: 450;
}

.input-eventID input{
    padding: 4px 8px;
    font-size: 16px;
    outline: none;
    border: none;
    margin-left: 6px;
}

.combo{
    background-color: #2ef771 !important; 
}

.dish-list{
    margin-left: 14px;
    border-radius: 15px;
    background-color: #fff;
    list-style: none;
    flex: 1;
    overflow-y: scroll;
    z-index: 3;
}

.dish-list .dish-select__item-img{
    flex: 1.5;
}

.dish-list .dish-select__item-content {
    flex: 3;
    display: flex;
}

.dish-list::-webkit-scrollbar {
    display: none;
}

.dish-list ul{
    list-style: none;
    padding: 0 16px;
}

.dish-list ul + ul{
    padding-top: 10px!important;
}

.dish-list ul:first-child {
    padding-top: 12px;
}
.dish-list ul:last-child{
    padding-bottom: 12px;
}
.dish-list .dish-select__item{
    height: 90px;
    border-radius: 4px;
}

.dish-list .combo .dish-select__item-img__combo{
    flex: 2;
}

.dish-list .dish-select__item div{
    font-size: 15px;
}

.dish-list .dish-select__item .dish_category span{
    color: rgb(176, 15, 0);
    margin-left: 6px;
    
}

.btn-group{
    /* width: 60px; */
    height: 35px;
    background-color: var(--green-1);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.btn-group:hover {
    opacity: 0.8;
}

.check-in_btn{
    width: 135px;
    margin-left: 24px;
}

.infor-btn{
    display: flex;
    margin-left: 24px;
    margin-bottom: 20px;
}

.edit-btn{
    width: 82px;
}

.delete-btn{
    width: 108px;
    margin-left: 72px;
}

.bill-display-btn{
    display: flex;
    margin-top: 24px;
}

.bill-display-btn:last-child{
    margin-bottom: 4px;
}
.modify-btn{
    width: 232px;
}

.save-btn{
    width: 96px;
    margin-left: 48px;
}

.checkout-btn{
    width: 135px;
    margin-left: 96px;
    background: rgb(255, 61, 0);
}

.cancel-btn{
    width: 98px;
    margin-left: 48px;
    background: rgb(255, 61, 0);
}

.dish-select .dish-select__item{
    display: flex;
    flex-direction: column;
}

.dish-select .dish-select__item-img__combo, .dish-select .dish-select__item-img{
    flex: 1.5;
    margin-top: 8px;
    display: flex;
}


.dish-select .dish-select__item-content{
    flex: 4;
}

.dish-select .dish_cost{
    align-items: flex-end !important;
    font-size: 17px !important;
    margin-bottom: 6px;
    margin-left: 4px;
}
.discount-category{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discount-category .dish_discount{
    font-size: 16px;
    flex: 1;
}

.discount-category .dish_discount span{
    color: #dc4605;
    font-size: 18px;
    font-weight: 500;
}

.discount-category .dish_category{
    font-size: 18px !important;
    /* margin-left: 8px; */
}

.dish-select img{
    height: 70px !important;
    flex: 2
}

.dish-select .dish_name::-webkit-scrollbar{
    display: none;
}

.dish-select .dish_name{
    flex: 3;
    margin-left: 10px;
    font-size: 20px;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 52px;
}



/* .dish-select .dish_category{
    margin-left: 80px;
} */


/* new bill */

.new{
    position: fixed;
    z-index: 3;
    top: 140px;
    right: 420px;
    background-color: var(--lightGreen-1);
    width: 500px;
    height: 560px;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgb(99, 79, 79);
}

.new h2{
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 0;
}

.create-form{
    display: flex;
    flex-direction: column;
    margin: 0 30px 40px;
}

.new-label{
    font-size: 18px;
    line-height: 1.5;
    margin: 16px 0 4px 8px;
}

.new-input{
    padding: 0 12px;
    height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 2px;
}

#select-btn{
    border-radius: 0;
    width: 140px;
    height: 46px;
    border-radius: 25px;
    background-color: var(--green-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--white-1);
    cursor: pointer;
}

#select-btn:hover{
    opacity: 0.8;
}

.new__btn-group{
    display: flex;
    margin-top: 6px;
    justify-content: space-between;
}

.new__done-btn{
    width: 140px;
    height: 46px;
    border-radius: 25px;
    margin-left: 30px;
}

.new__cancel-btn{
    width: 140px;
    height: 46px;
    border-radius: 25px;
    margin-right: 30px;
}

/* select dishes */

.dish-select{
    display: none;
    flex-direction: column;
    top: 20px;
    right: 80px;
    width: 1100px;
    height: 710px;
    box-shadow: 0px 0px 4px rgb(99, 79, 79);
}

.dish-select__header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
}

.dish-select__header h1{
    margin: 24px 0;
    font-weight: 500;
    font-size: 24px;
}

.dish-select__body::-webkit-scrollbar {
    display: none;
}

.dish-select__body{
    margin: 0 12px;
    flex: 1;
    overflow-y: scroll;
    background-color: white;
}

.dish-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    /* margin-bottom: 12px; */
}

.col-2 {
    padding-left: 4px;
    padding-right: 4px;
    width: calc(100% / 4);
}

.dish-select__item {
    height: 200px;
    background-color: #4df2a5;
}

.dish-select__list{
    padding: 0 4px;
    list-style: none;
}

.dish-select__item{
    display: flex;
    position: relative;
    border-radius: 6px;
}
.dish-select__item-img{
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dish-select .dish-select__item-img img {
    height: 85%;
    border-radius: 4px;
    padding-left: 12px;
}

.dish-list .dish-select__item-img img {
    width: 100%;
    border-radius: 4px;
    padding-left: 12px;
}

.dish-list .dish-select__item-img{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dish-select__item-img__combo{
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dish-select__item-img__combo img {
    width: 100%;
    height: 80%;
    padding-left: 12px;
}
.dish-select__item-content{
    flex: 4;
    padding: 12px;
    margin-left: 10px;
    font-size: 16x;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}

.dish-select__item-content .dish_name{
    /* margin-left: 10px; */
    flex: 1;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.dish-select__item-content .dish_des::-webkit-scrollbar {
    display: none;
}
 
.dish-select__item-content .dish_category{
    flex: 1;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.dish-select__item-content .dish_cost{
    font-weight: 500;
    font-size: 16px;
    flex: 1;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}

.dish-select__item-content .dish_cost span{
    color: #fe4e02;
    margin-left: 6px;
}
.dish-select__item-content .dish_cost .old_cost {
    color: #ff844f;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
}
.dish-select__item-content .dish_cost .new_cost {
    color: #f94e04;
    margin-left: 6px;
    font-size: 17px;
}


#selected-dish-checkbox{
    position: absolute;
    cursor: pointer;
    right: 16px;
    bottom: 16px;
    width: 28px;
    height: 28px;
}

.select-quantity{
    position: absolute;
    right: 56px;
    bottom: 16px;
}


#selected-quatity{
    outline: none;
    border: none;
    border-radius: 4px;
    padding-left: 16px;
    width: 52px;
    height: 28px;
    font-size: 20px;
}
#selected-quatity span{
    margin-left: 12px;
}

.dish-select__list:first-child{
    padding-top: 12px;
}

.dish-select__list:last-child {
    padding-bottom: 12px;
}


.dish-select__list + .dish-select__list{
    padding-top: 12px;
}

.dish-select__list {
    cursor: pointer;
}



.dish-select__footer{
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.dish-select__footer .done-btn,.dish-select__footer .cancle-btn{
    width: 112px;
    border-radius:25px;
    height: 36px;
    font-size: 24px;
    margin-left: 0;
}

.dish-select__footer .cancle-btn{
    background: rgb(255, 61, 0);
    
}


/* select seat/table */

.select-table{
    z-index: 4;
    overflow: hidden;
    height: 564px;
    right: 280px;
    display: none;
    flex-direction: column;
}

.select-table_container::-webkit-scrollbar {
    display: none;
}

.select-table_container{
    margin: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 7;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    margin-bottom: 12px;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
    width: calc(100% / 4);
}

.table_select{
    background-color: #30dc30;
    border-radius: 4px;
    height: 160px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.table_select span:first-child{
    color: rgb(70, 69, 69);
    font-size: 18px;
    margin-top: 8px;
    margin-right: 44px;
}

.table_select span:nth-child(2){
    color: rgb(223, 5, 5);
    font-size: 18px;
}

.table_select img{
    height: 76px;
    margin-bottom: 8px;
}

/* .table_select .material-icons{
    color: rgb(70, 69, 69);
    margin-top: 4px;
    font-size: 50px;
} */

#selected-table-checkbox{
    position: absolute;
    top: 10px;
    right: 12px;
    width: 20px;
    height: 20px;
}

.select-table__bnt-group{
    flex: 1;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-btn{
    height: 40px;
    width: 112px;
    border-radius: 28px;
    color: var(--white-1);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.table-btn:hover{
    opacity: 0.8;
}

.table__done-btn{
    margin-left: 136px;
    background-color: var(--green-1);
}

.table__cancel-btn {
    margin-right: 136px;
    background-color: rgb(224, 38, 38);
}


/* edit form */

.edit-form{
    width: 450px;
    height: 360px;
    position: fixed;
    top: 200px;
    left: 570px;
    z-index: 5;
    border-radius: 8px;
    background-color: var(--lightGreen-1);
    box-shadow: 0px 0px 4px rgb(99, 79, 79);
    display: none;
}

.edit-form h2{
    font-size: 24px;
    color: var(--black-1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 10px;
}

.edit-input{
    padding: 0 12px;
    height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 2px;
    margin-bottom: 12px;
}

.edit-label{
    font-size: 16px;
    margin-bottom: 6px;
}

.edit__btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-btn-group{
    width: 140px;
    height: 46px;
    border-radius: 25px;
    margin-right: 30px;
    color: #fff;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit__done-btn{
    background-color: var(--green-1);
    margin-right: 60px;
}

.edit__cancel-btn{
    background-color: red;
}

/* edit form */
.edit {
    position: fixed;
    z-index: 6;
    top: 140px;
    right: 420px;
    background-color: var(--lightGreen-1);
    width: 500px;
    height: 560px;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgb(99, 79, 79);
}

.edit h2 {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 0;
}

.create-form {
    display: flex;
    flex-direction: column;
    margin: 0 30px 40px;
}

.edit-label {
    font-size: 18px;
    line-height: 1.5;
    margin: 16px 0 4px 8px;
}

.edit-input {
    padding: 0 12px;
    height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 2px;
}

#edit-select-btn {
    border-radius: 0;
    width: 140px;
    height: 46px;
    border-radius: 25px;
    background-color: var(--green-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--white-1);
    cursor: pointer;
}

#edit-select-btn:hover {
    opacity: 0.8;
}

.edit__btn-group {
    display: flex;
    margin-top: 6px;
    justify-content: space-between;
}

.edit__done-btn {
    width: 140px;
    height: 46px;
    border-radius: 25px;
    margin-left: 30px;
}

.edit__cancel-btn {
    width: 140px;
    height: 46px;
    border-radius: 25px;
    margin-right: 30px;
}

/* edit t select */

.edit-select-table{
    z-index: 6;
}

.edit-select-table {
    z-index: 4;
    overflow: hidden;
    height: 564px;
    right: 280px;
    display: none;
    flex-direction: column;
}

.edit-select-table_container::-webkit-scrollbar {
    display: none;
}

.edit-select-table_container {
    margin: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 7;
}

.table_select {
    background-color: #30dc30;
    border-radius: 4px;
    height: 160px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.table_select span:first-child {
    color: rgb(70, 69, 69);
    font-size: 18px;
    margin-top: 8px;
    margin-right: 44px;
}

.table_select span:nth-child(2) {
    color: rgb(223, 5, 5);
    font-size: 18px;
}

.table_select img {
    height: 76px;
    margin-bottom: 8px;
}

#selected-table-checkbox {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 20px;
    height: 20px;
}

.edit-select-table__bnt-group {
    flex: 1;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-table__done-btn {
    margin-left: 136px;
    background-color: var(--green-1);
}

.edit-table__cancel-btn {
    margin-right: 136px;
    background-color: rgb(224, 38, 38);
}

.edit-table_select {
    background-color: #30dc30;
    border-radius: 4px;
    height: 160px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.edit-table_select span:first-child {
    color: rgb(70, 69, 69);
    font-size: 18px;
    margin-top: 8px;
    margin-right: 44px;
}

.edit-table_select span:nth-child(2) {
    color: rgb(223, 5, 5);
    font-size: 18px;
}

.edit-table_select img {
    height: 76px;
    margin-bottom: 8px;
}


#edit-selected-table-checkbox {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 20px;
    height: 20px;
}

/* payment */

.payment{
    position: fixed;
    z-index: 7;
    top: 100px;
    left: 580px;
    height: 600px;
    width: 450px;
    background-color: var(--lightGreen-1);
    box-shadow: 0px 0px 4px rgb(99, 79, 79);
    border-radius: 8px;
    display: none;
    flex-direction: column;
}

.payment__header{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-left: 12px;
}

.payment__header div{
    display: flex;
    align-items: center;
}
.payment__header .material-icons{
    color: var(--green-1);
    font-size: 40px;
    margin: 16px;
    margin-left: 20px;
}

.payment__header h2{
    font-size: 20px;
    font-weight: 500;
    margin-left: 36px;
}

.order__infor{
    line-height: 1.4;
}
.order__infor span:nth-child(1){
    min-width: 130px;
}
.order__infor span:nth-child(2){
    margin-left: 6px;
    font-size: 16px;
}
.payment__body{
    flex: 3;
    margin-top: 12px;
    font-size: 16px;
    border-bottom: 1px dashed rgb(113, 111, 111);
    overflow-y: scroll;
}

.payment__body::-webkit-scrollbar{
    display: none;
}

.payment__table{
    width: 100%;
}

.payment__table thead tr{
    border-bottom: 1px dashed rgb(113, 111, 111);
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
}

.payment__table tbody tr{
    display: flex;
    flex-direction: row;
    height: 30px;
}

.payment__table thead th{
    align-items: center;
    justify-content: center;
}
.payment__table thead th:nth-child(1){
    flex: 1.2;
}

.payment__table thead th:nth-child(2) {
    flex: 0.8;
}

.payment__table thead th:nth-child(3) {
    flex: 1;
}

.payment__table tbody td{
    align-items: center;
    justify-content: center;
}

.payment__table tbody td:nth-child(1)::-webkit-scrollbar{
    display: none;
}
.payment__table tbody td:nth-child(1) {
    flex: 1.2;
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
    
}

.payment__table tbody td:nth-child(2) {
    flex: 0.8;
    display: flex;
    
}

.payment__table tbody td:nth-child(3) {
    flex: 1;
    display: flex;
    
}

.payment__footer{
    margin-top: 12px;
    flex: 0.8;
    font-size: 15px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.payment__method span:nth-child(2){
    font-size: 20px;
    color: red;
}
.payment__des{
    margin-left: 200px;
    line-height: 1.4;
}
.payment__des span:nth-child(1){
    min-width: 150px;
    display: inline-block;
}

.payment__btn{
    margin: 20px 16px 16px;
    display: flex;
}

.payment__btn .btn-group{
    flex: 1;
}

.payment__cancel-btn{
    margin-left: 40px;
    background: rgb(255, 61, 0);
}