

/* event lists */
.body__event__list {
    display: flex;
    align-items: stretch;
    justify-content: left;
    flex-wrap: wrap;
    gap: 1rem;
}

.body__event__item {
    background-color: var(--lightGreen-1);
    text-align: center;
    border-radius: 12px;
    width: 250px;
    margin-left: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.body__event__item__icon {
    padding: 10px 10px;
    border-radius: 50px;
}

.body__event__item__title {
    font-size:  1.8rem;
    font-family: var(--font);
    font-weight: 500;
    margin-bottom:  0.5rem;
    line-height: 1.1em;
    color: var(--black-1);
}


/* event popup infor */
.body__event__popup {
    position: fixed;
    border-radius: 12px;
    top: 15%;
    left: 30%;
    width: 800px;
    background-color: var(--lightGreen-1);
}

.body__event__popup h2 {
    padding-top: 25px;
}

.body__event__popup__container {
    display: flex;
    justify-content: space-between;
}

.body__event__popup__left {
    width: 50%;
    margin-right: 20px;
}

.body__event__popup h2{
    text-align: center;
    font-family: var(--font);
    margin-bottom: 25px;
    font-weight: 500;
}

.event__popup__name,
.event__popup__description,
.event__popup__start,
.event__popup__end,
.event__popup__sale {
    font-family: var(--font);
    font-size: 400;
    color: var(--black-1);
    margin-left: 20px;
}


.event__popup__infor {
    display: flex;
    width: 300px;
    height: auto;
    min-height: 40px;
    align-items: center;
    padding-left: 10px;
    background-color: var(--white-2);
    color: var(--black-1);
    margin-bottom: 40px;
    margin-top: 5px;
    border-radius: 10px;
}

.event__popup__description p {
    height: 100px;
}

.event__popup__btn {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}


.body__event__popup__right {
    width: 50%;
    max-height: 400px;
    margin-left: 20px;
    text-align: center;
    padding-right: 10px;
}

.body__event__popup__right__rank {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}

.body__event__popup__right__rank-bronze,
.body__event__popup__right__rank-silver,
.body__event__popup__right__rank-gold,
.body__event__popup__right__rank-diamond {
    display: block;
    text-align: left;
    font-family: var(--font);
    font-size: 1.8rem;
}


/* new event */
.body__new__event {
    text-align: center;
    position: fixed;
    border-radius: 12px;
    top: 15%;
    left: 25%;
    width: 950px;
    background-color: var(--lightGreen-1);
}

.body__new__event h2 {
    padding: 25px;
}

.body__new__event__container {
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
}

.body__new__event__left {
    width: 50%;
    margin-top: 20px;
    text-align: left;
}

.body__new__event ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}

.new__event__description input {
    min-height: 80px;
}

.body__new__event ul li span{
    padding: 10px 5px;
    height: 30px;
    font-family: var(--font);
    font-weight: 400;
    text-align: center;
    margin: 5px 0;
}

.new__event__input-text {
    width: 310px;
    border-radius: 5px;
    border: none;
    height: auto;
    min-height: 30px;
    font-size: 1.8rem;
    padding: 15px 10px;
    display: flex;
    height: 30px;
    margin: 10px 0;
    border: 1px solid var(--white-2);
}


.new__event__poster-upload {
    display: inline-block;
    font-family: var(--font);
    font-weight: 400;
    padding: 0 5px;
    margin-bottom: 30px;
}


.new__event__poster-upload-label {
    font-family: var(--font);
    font-size: 1.5rem;
    border-radius: 8px;
    margin-left: 85px;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
}


.body__new__event__right {
    width: 50%;
    margin-top: 20px;
    padding-left: 20px;
}

.body__new__event__right__rank {
    display: block;
    text-align: left;
    margin-left: 20%;
}

.body__new__event__right__rank-bronze,
.body__new__event__right__rank-silver,
.body__new__event__right__rank-gold,
.body__new__event__right__rank-diamond {
    font-family: var(--font);
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.new__event__popup__btn {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border: none;
    margin-top: 60px;
}

.body__new__event__btn__icon {
    align-content: center;
    margin-top: 70px;
    width: 70px;
}

.body__new__event__btn {
    background-color: var(--lightGreen-1);
    text-align: center;
    border-radius: 12px;
    width: 250px;
    min-height: 200px;
    margin-left: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

/* validation */
.invalid__input-border {
    border: 1px solid var(--red-1);
}

.invalid__input-icon {
    width: 15px;
}

.invalid__input-message {
    margin-left: 150px;
    display: flex;
}

.invalid__rank__input-message{
    margin-left: 100px;
    display: block;
}

.invalid__input-message p {
    margin-left: 10px;
    font-size: 1.4rem;
    color: var(--red-1);
}
