* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --menu-background-color: #f5fcf4;
    --btn-color: var(--green-1);
    --btn-background-color: rgb(255 165 0);
    --menu-width: 240px;
    --header-height: 118px;
    --content-header-height: 70px;
    --content-header-background-color: #ededed;
    --free: #43f308;
    --booking: rgb(248, 248, 48);
    --busy : rgb(249, 30, 30);
    --cancel: rgb(101, 101, 101);
}

body::-webkit-scrollbar {
    display: none;
}

.hidden {
    display: none !important;
}

.body{
    margin-right: 10px;
}


.active{
    display: flex !important;
}

.nav_search_icon {
    color: var(--green-1);
    font-size: 38px !important;
    position: relative;
    top: 18px;
    left: -150px;
    padding-top: 2px;
    cursor: pointer;
}

.nav {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
}

.nav_search_icon:hover {
    color: #04bf04;
}

.nav__search__bar {
    background-color: #fff !important;
}

.nav__search__icon {
    display: none;
}

.nav__logout a {
    padding: 8px 20px;
}

.nav__logout:hover {
    opacity: 0.8;
}

.header a {
    margin: 0 28px;
    color: white;
    font-size: var(--icon-size);
    font-weight: 400;
    text-decoration: none;
}

.header a:hover {
    opacity: 0.8;
}

/* search */
.search {
    height: 42px;
    width: 460px;
    min-width: 250px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.search input {
    height: 100%;
    border: none;
    flex: 1;
    padding: 0 18px;
    outline: none;
    font-size: 16px;
}

.search span {
    height: 100%;
    font-size: 28px;
    /* margin-top: 3px; */
    margin: 4px 8px 4px 12px;
    padding: 9px 4px 8px 8px;
    cursor: pointer;
}

.search span:hover {
    background-color: rgb(255, 116, 9, 0.3);
    margin: 4px 0 4px 12px;
    padding-right: 12px;
}


.home-btn {
    margin: 0 28px;
}

.home-btn span {
    font-size: var(--icon-size);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.home-btn span:hover {
    opacity: 0.8;
}

/* main */

.main {
    display: flex;
}



/* menu */

.menu {
    width: var(--menu-width);
    min-width: 80px;
    height: 100vh;
    position: fixed;
    left: 12px;
    background-color: var(--menu-background-color);
    top: var(--header-height);
}

.btn-list {
    --space: 28px;
    /* padding-top: var(--space); */
    margin-left: 16px;
    list-style: none;
}


.btn:hover a,
.btn:hover span {
    opacity: 0.8;
}

.btn a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--white-1);
    padding: 13px 20px;
    background-color: var(--green-1);
    border-radius: 8px;
}

.btn a span {
    color: var(--white-1);
    margin-right: 8px;
    margin-left: 4px;
    font-size: 24px;
}


/* content */

.content {
    position: absolute;
    top: var(--header-height);
    z-index: 1;
    right: 0;
    width: calc(100% - var(--menu-width) - 32px);
}


/* content-header */
.content__header{
    height: var(--content-header-height);
    background-color: #aeb0ad;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: calc(var(--header-height) - 2px);
    left: calc(var(--menu-width ) + 48px);
    right: 0;
}

.btn-group{
    width: 140px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.8;
    color: var(--black-1);
}

.btn-group.btn--active{
    color: rgb(255, 255, 255);
}


.btn-group + .btn-group{
    margin-left: 40px;
}

.btn-group:first-child{
    margin-left: 120px;
}
.btn-group:hover{
    opacity: 0.8;
}

.all{
    background-color: rgba(157, 212, 247, 0.8);
}

.available{
    background-color: var(--free);
}

.reserved{
    background-color: var(--booking);
}

.occupied{
    background-color: var(--busy);
}

.out_of_order{
    background-color: var(--cancel);
}

/* seat */

.seat{
    position: relative;
    top: var(--content-header-height);
    padding: 0 16px 16px 16px;
}


.row {
    display: none;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}


.col{
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100% / 5);
}

.table{
    background-color: #f6e1c5;
    height: 240px;
    margin-top: 12px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.table__header{
    padding: 10px; 
}

.table__status{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 10px;
}
.table__header span{
    margin-left: 16px;
    font-size: 24px;
    color:rgb(209, 18, 18);
}

.table__body{
    margin-top: 20px;
}
.table__img{
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 30px;
    width: 180px;
}

/* add btn */

.add-btn {
    position: fixed;
    z-index: 2;
    /* right: 64px; */
    bottom: 64px;
    width: 140px;
    height: 56px;
    background-color: var(--green-1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

.add-btn:hover {
    opacity: 0.8;
}

/* add new table */

.new {
    position: fixed;
    z-index: 3;
    top: 140px;
    right: 360px;
    background-color: var(--lightGreen-1);
    width: 500px;
    height: 480px;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgb(99, 79, 79);
}

.new h2 {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 0;
}

.create-form {
    display: flex;
    flex-direction: column;
    margin: 30px 30px 40px;
}

.new-label {
    font-size: 18px;
    line-height: 1.5;
    margin: 16px 0 4px 8px;
}

.new-input {
    padding: 0 12px;
    height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 4px;
}


.new__btn-group {
    display: flex;
    margin-top: 68px;
    justify-content: space-between;
}

.new_table_btn-group{
    width: 140px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.8;
    color: rgb(30, 22, 22);
}

.new_table_btn-group:hover {
    opacity: 0.8;
}

.new__done-btn {
    width: 140px;
    height: 50px;
    border-radius: 25px;
    margin-left: 52px;
    background: var(--green-1);
    color: #fff;
    font-size: 30px;
}

.new__cancel-btn {
    width: 140px;
    height: 50px;
    border-radius: 25px;
    margin-right: 52px;
    background: rgb(255, 61, 0);
    color: #fff;
    font-size: 30px;
}


.invalid{
    position: absolute;
    display: none;
    top: 280px;
    left: 34px;
    font-size: 15px;
    color: rgb(255, 61, 0);
}

.table-infor{
    position: fixed;
    z-index: 3;
    top: 260px;
    right: 360px;
    background-color: var(--lightGreen-1);
    width: 500px;
    height: 300px;
    border-radius: 30px;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 2px 0 rgb(50, 49, 49);
    display: none;
    flex-direction: row;
    align-items: center;
}

.table-infor .infor{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    /* margin-top: 32px; */
    margin-left: 40px;
}

.table-infor .infor span{
    margin-top: 10px;
    display: flex;
    align-items: center;
    
}

.table-infor .infor span h4{
    margin-right: 8px;
}

.table-infor-btn-group{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 20px;
}

.infor-btn{
    width: 136px;
    height: 46px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    background-color: var(--green-1);
    margin-top: 20px;
}

.infor-btn:hover{
    opacity: 0.8;
}

.delete-btn, .infor__cancel-btn{
    background-color:rgb(255, 61, 0);
}

.edit {
    position: fixed;
    z-index: 3;
    top: 140px;
    right: 360px;
    background-color: var(--lightGreen-1);
    width: 500px;
    height: 480px;
    border-radius: 30px;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgb(99, 79, 79);
    display: none;
}

.edit h2 {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 0;
}

.edit-form {
    display: flex;
    flex-direction: column;
    margin: 30px 30px 40px;
}

.edit-label {
    font-size: 18px;
    line-height: 1.5;
    margin: 16px 0 4px 8px;
}

.edit-input {
    padding: 0 12px;
    height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 4px;
}


.edit-btn-group {
    display: flex;
    margin-top: 68px;
    justify-content: space-between;
}

.edit-table-btn-group {
    width: 140px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.8;
    color: rgb(30, 22, 22);
}

.edit-table-btn-group:hover {
    opacity: 0.8;
}

.edit__done-btn {
    width: 140px;
    height: 50px;
    border-radius: 25px;
    margin-left: 52px;
    background: var(--green-1);
    color: #fff;
    font-size: 30px;
}

.edit__cancel-btn {
    width: 140px;
    height: 50px;
    border-radius: 25px;
    margin-right: 52px;
    background: rgb(255, 61, 0);
    color: #fff;
    font-size: 30px;
}